**/build/
build/
/build/
*/build/
*/*/build/
*/*/*/build/
**/test-task/
test-task/
/test-task/
*/test-task/
*/*/test-task/
*/*/*/test-task/
seminars/
.vscode/
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.mp4
**/log/
log/
/log/
*/log/
*/*/log/
*/*/*/log/
**/log/
venv/
/venv/
*/venv/
*/*/venv/
*/*/*/venv/
*.pt